<div class="review-index">
  <h3>レビュー一覧</h3>
    <table>
      <tbody>
        <tr class="genre-box">
          <% @genres.review.each do |review| %>
            <td class="item">
                <%= link_to admin_review_path(review) do %>
                  <% if review.image.attached? %>
                    <%= image_tag reviews.image, size: "180x130" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "180x130" %>
                  <% end %>
                  <%= review.title %><br>
                <% end %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>